In [1]:
import pandas as pd

### Quora Question Pairs

In [2]:
quora = pd.read_csv("../../data/Raw/Quora Question Pairs/train.csv")
quora.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [3]:
quora = quora.dropna(subset=["question1", "question2"])

In [4]:
quora["question1"].to_csv("../../data/Processed Txt/quora_q1.txt", index=False, header=False)
quora["question2"].to_csv("../../data/Processed Txt/quora_q2.txt", index=False, header=False)

### Paws Wiki Labelled

In [5]:
paws = pd.read_csv("../../data/Raw/Paws Wiki Labelled/train.tsv", sep="\t")
paws.head()

,id,sentence1,sentence2,label
0,1,"In Paris , in October 1560 , he secretly met t...","In October 1560 , he secretly met with the Eng...",0
1,2,The NBA season of 1975 -- 76 was the 30th seas...,The 1975 -- 76 season of the National Basketba...,1
2,3,"There are also specific discussions , public p...","There are also public discussions , profile sp...",0
3,4,When comparable rates of flow can be maintaine...,The results are high when comparable flow rate...,1
4,5,It is the seat of Zerendi District in Akmola R...,It is the seat of the district of Zerendi in A...,1

In [6]:
paws = paws.dropna(subset=["sentence1", "sentence2"])

In [7]:
paws["sentence1"].to_csv("../../data/Processed Txt/paws_s1.txt", index=False, header=False)
paws["sentence2"].to_csv("../../data/Processed Txt/paws_s2.txt", index=False, header=False)